html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://ik.imagekit.io/ylx0lopjm9/2_butPnIm8Ill.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top-nav-collapse {
    background-color: #24355C;
  }
  
  
 
 
  /*Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
   
  }
}

.fa {
  font-size: 25px;
  text-decoration: none;
 
}

.fa:hover {
    opacity: 0.7;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; 
  flex: auto;
  }
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




  

  